name: Playwright Tests (Docker)

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      environment:
        description: "Which environment to run tests against"
        required: true
        default: dev
        type: choice
        options:
          - dev
          - staging
          - prod

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t playwright-tests .

      - name: Run Playwright tests in Docker
        run: |
            docker run --rm \
            -e ENV=${{ github.event.inputs.environment || 'dev' }} \
            -e CI=true \
            -v ${{ github.workspace }}:/app \
            playwright-tests

      - name: Upload HTML report
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: playwright-report
          path: playwright-report